{% extends 'auctions/layout.html' %}
{% load crispy_forms_tags %}
{% load customtags %}
{% block title %}
    {{ product.name }}
{% endblock %}
{% block body %}
    {% if request.user == product.owner %}
        <a href="{% url 'close_listing' product.get_url_path %}">Close listing</a>
    {% endif %}
    <div class="container">
        <div class="col-xs-4 item-photo" >
            <img src={{ product.image.url }} style="max-width:50%" class="text-center">
        </div>
        <div class="col-xs-5" style="border:0px solid gray">
            <h3>{{ product.name }}</h3>
        </div>
        <h5 style="color:#337ab7">Owner: {{ product.owner }} </h5>
        <div>
            <h6>
                <small>
                    Starter Price:
                </small>
            </h6>
            <h3 style="margin-top:0px;">
                {{ product.price }}
            </h3>
        </div>
        <div class="col-xs-9">
            <div style="width:100%;border-top:1px solid silver">
                <p class="text-break">
                    {{ product.description }}

                </p>

            </div>
        </div>

    </div>

    <h1>
        Comments:
    </h1>
    {% if user.is_authenticated %}
        {% if watchlist|search:product.name%}
            <a href="{% url 'remove_from_watchlist' product.get_url_path %}">Remove</a>
        {% else %}
            <a href="{% url 'add_watchlist' product.get_url_path%}">ADD</a>
        {% endif %}
        <form method="post">
        {% csrf_token %}
        <div class="col-4">
            {{ commentform|crispy }}
        </div>

        <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
        </form>
    {% endif %}
    <div>
        {% if comments %}
            {% for comment in comments  %}
                <div class="comments" style="padding: 10px;">
                <h5>BY:{{ comment.writer }}</h5>
                Subject:{{ comment.subject }}
                {{ comment.body|linebreaks }}
                </div>
            {% endfor %}

        {% else %}
            <h1>No comments for now</h1>
        {% endif %}
    </div>

    {% if user.is_authenticated %}
        <form action="{% url 'make_bid' product.get_url_path%}" method="post">
        {% csrf_token %}
        <div class="col-4">
            {{ biddingform|crispy }}
        </div>
        <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
        </form>
    {% endif %}

    {% if product.status %}
        {% if currentbid %}
            <h1>current bid made by {{ currentbid.bidder }}, value: {{ currentbid.value }}</h1>
        {% else %}
            no bids currently
        {% endif %}
    {% else %}
        you can't make bids anymore
    {% endif %}

{% endblock %}