{% extends 'encyclopedia/layout.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Add page
{% endblock %}

{% block body %}
    <h1 class="text" style="align-content: center">Add a page</h1>
    <form action="add" method="post">
        {% csrf_token %}
        {% if error %}
            <div class="alert alert-warning" role="alert">
                <h4 class="alert-heading">Oh My Gooooooooooooooood!</h4>
                This page already exists
            </div>
        {% endif %}
        {{ addform|crispy }}
        <input name="save" type="submit"
               class="btn btn-outline-dark">
    </form>
{% endblock %}