{% extends 'encyclopedia/layout.html' %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% block title %}
    {% if not entry %}
        Error!
    {% else %}
        {{ title }}
    {% endif %}
{% endblock %}
{% block body %}

    {% if not entry %}
        <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading">Holy Ravioli!</h4>
            Entry not found!

        </div>
    {% else %}
        <div class="alert alert-primary" role="alert">
            Entry found!

        </div>
        <br>
        <input type="button" class="btn btn-outline-dark"
           value="edit" onclick="location.href='{% url 'edit' title %}'">
        <div>{{ entry|safe }}</div>

    {% endif %}


{% endblock %}